.glass{
    /* width: 70%; */
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 15px 25px rgba(18, 20, 145, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(56, 49, 148, 0.2);
    padding: 10px;
}
.back{
    background-image: url(../images/Team/teamillus.svg);
}